.list {
    padding: 20px;
    display: grid;
    grid-gap: 10px;
    justify-content: start;
}
.list_item {
    height: 30px;
    display: grid;
    padding: 0 20px;
    align-items: center;
    cursor: pointer;
    border: 1px #424242 solid;
}